<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title|default('Index') }} - {{ config_mod['general.title'] }}</title>

        {% for css_file in static_files['css'] %}
        <link media="screen" type="text/css" href="{{ css_file }}" rel="stylesheet" />
        {% endfor %}

        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ config_mod['general.url']|default('/') }}rssfeed.xml" />
    </head>
    <body>

<div id="header">
    <a href="/"><h1>{{ config_mod['general.title'] }}</h1></a>
    {% if config_mod['general.subtitle'] %}
    <h2>{{ config_mod['general.subtitle'] }}</h2>
    {% endif %}
</div>

<div id="main_body">
    <ul id="menu">
        {# Optionnal header #}
        {% if menu_header %}
        <li>{{ menu_header }}</li>
        {% endif %}

        {# Displays a list of the categories in the menu. #}
        <li><div id="categories"><strong>Categories</strong>
            <ul>
                {% for cat, children in categories_menu.values()|sorted recursive %}
                <li><a href="{{ cat.url() }}">{{ cat.name }}</a>
                    {% if children %}
                    <ul>{{ loop(children.values()|sorted) }}</ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div></li>

        {# Displays a list of the authors in the menu. #}
        <li><div id="authors"><strong>Authors</strong>
            <ul>
                {% for author in authors_mod.objects|sorted %}
                <li>{% include "authors/menu_link.html" %}</li>
                {% endfor %}
            </ul>
        </div></li>
    </ul>

    <ul id="articles">
    {% include "paginate.html" %}
    {% block body %}<li>Page is empty</li>{% endblock %}
    {% include "paginate.html" %}
    </ul>

    <div class="cleaner"></div>
</div>

<p id="footer">
    {% if config_mod['general.footer'] %}{{ config_mod['general.footer'] }} &mdash;{% endif %}
    <a href="/rssfeed.xml">RSS Feed</a>
</p>
    </body>
</html>
