{% extends "base.html" %}

{% block body %}
{% for article in articles %}
<li id="{{ article.id }}">
    <a href="{{ article.url() }}"><h1>{{ article.title }}</h1></a>
    <div class="infos"><p>Written by {{ article.authors|authors_list(authors_mod) }}<br/>{{ article.date }}</p></div>
    <p>{{ article.content|markdown }}</p>
    <div class="infos">
        {% if config_mod['social.twitter_id'] and config_mod['general.url'] %}
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ config_mod['general.url'] }}articles/{{ article.html_filename() }}" data-via="{{ config_mod['social.twitter_id'] }}" data-text="{{ article.title }} - {{ config_mod['general.title'] }}">Tweet</a>
        <script>
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src="//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                    }
                }(document,"script","twitter-wjs");
        </script>
        {% endif %}
        <div class="comments-link">
            <a href="{{ article.url() }}">Permalink & comments</a>
        </div>
    </div>

    {% if article.comments_enabled and config_mod['general.url'] and config_mod['social.disqus_id'] %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ config_mod['social.disqus_id'] }}';
        var disqus_identifier = '{{ article.id }}';
        var disqus_url = '{{ config_mod['general.url'] }}articles/{{ article.html_filename() }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
</li>
{% endfor %}
{% endblock %}
